@font-face {
  font-family: "Prosto One";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/prosto-one.woff2") format("woff2");
}

html {
  font-family: "Prosto One";
}
