@font-face {
  font-family: "Chivo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Chivo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Chivo";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Chivo-Italic.ttf") format("truetype");
}

html {
  font-family: "Chivo";
}
